<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="r2c_wheel" params="name">
        <joint name="${name}_wheel_to_lower_suspension">
            <!-- <param name="node_id">${node}</param> -->
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
    </xacro:macro>

    <xacro:macro name="odrive" params="name id">
        <joint name="${name}_wheel_to_lower_suspension">
            <param name="node_id">${id}</param>
        </joint>
    </xacro:macro>

    <xacro:macro name="diffbot_ros2_control" params="name use_mock_hardware">
        <ros2_control name="${name}" type="system">
            <!-- Simulation Config -->
            <!-- <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
                <xacro:r2c_wheel name="LF" />
                <xacro:r2c_wheel name="LM" />
                <xacro:r2c_wheel name="LR" />
                <xacro:r2c_wheel name="RF" />
                <xacro:r2c_wheel name="RM" />
                <xacro:r2c_wheel name="RR" />
            </xacro:if> -->

            <!-- Crater Config -->
            <xacro:unless value="${use_mock_hardware}">
                <hardware>
                    <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
                    <param name="can">can0</param>
                </hardware>
                <xacro:odrive name="LF" id="1" />
                <!-- <xacro:odrive name="LM" id="2" /> -->
                <!-- <xacro:odrive name="LR" id="3" /> -->
                <xacro:odrive name="RF" id="2" />
                <!-- <xacro:odrive name="RM" id="4" /> -->
                <!-- <xacro:odrive name="RR" id="5" /> -->
            </xacro:unless>

            <!-- <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if> -->
        </ros2_control>

    </xacro:macro>


    <xacro:diffbot_ros2_control name="DiffBot" use_mock_hardware="false"/>

    <!-- <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="coalculate_dynamics">true</param>
        </hardware>
        <xacro:r2c_wheel name="LF" node="0" />
        <xacro:r2c_wheel name="LM" node="1"/>
        <xacro:r2c_wheel name="LR" />
        <xacro:r2c_wheel name="RF" />
        <xacro:r2c_wheel name="RM" />
        <xacro:r2c_wheel name="RR" />
    </ros2_control> -->
    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system">
            <parameters>$(find crater_bot)/config/controllers.yaml</parameters>
            <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
        </plugin>
    </gazebo>
</robot>
